
.example-spacer {
  flex: 1 1 auto;
}

.top-nav {
  margin: 0 0.5rem;
}

.user-display-name {
  margin-right: 0.75rem;
  font-size: 0.95rem;
  font-weight: 500;
}

.mat-toolbar .logo {
  max-width: 50px;
  height: auto;
  cursor: pointer;
  mix-blend-mode: screen;
}