<div class="tb-ct">
  <h1 class="mat-typography">Electronic Gaming Machines</h1>
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    #sort="matSort">
    <!-- Selection Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef  style="width:50px">
        <mat-checkbox (change)="masterToggle()" [checked]="isAllSelected()"></mat-checkbox>
        <!-- <mat-checkbox (click)="$event.stopPropagation()" (change)="masterToggle()" [checked]="isAllSelected()" aria-label="Select all" /></mat-checkbox> -->
      </th>
      <td mat-cell *matCellDef="let row" style="width:50px">
        <mat-checkbox (change)="masterToggle()" [checked]="isAllSelected()"></mat-checkbox>
        <!-- <mat-checkbox (click)="$event.stopPropagation()" (change)="selection.toggle(row)" [checked]="selection.isSelected(row)" aria-label="Select row" /></mat-checkbox> -->
      </td>
    </ng-container>

        <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header  style="width:70px">No.</th>
      <td mat-cell *matCellDef="let row">
        @if (!row.editing) {
          <span>{{ row.position }}</span>
        } @else {
          
            <input matInput [(ngModel)]="row.position" style="width:30px" />
        }
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:250px">Name</th>
      <td mat-cell *matCellDef="let row">
        @if (!row.editing) {
          <span>{{ row.name }}</span>
        } @else {
            <input matInput [(ngModel)]="row.name" style="width:220px" />
        }
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:220px">Weight</th>
      <td mat-cell *matCellDef="let row">
        @if (!row.editing) {
          <span>{{ row.weight }}</span>
        } @else {
            <input matInput [(ngModel)]="row.weight" style="width:190px"/>
        }
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header  style="width:250px">Symbol</th>
      <td mat-cell *matCellDef="let row">
        @if (!row.editing) {
          <span>{{ row.symbol }}</span>
        } @else {
            <input matInput [(ngModel)]="row.symbol" style="width:220px"/>
        }
      </td>
    </ng-container>   

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="width:150px">Actions</th>
      <td mat-cell *matCellDef="let row">
        @if (!row.editing) {
          <button mat-icon-button color="primary" (click)="startEdit(row)" aria-label="Edit">
            <mat-icon>edit</mat-icon>
          </button>
        } @else {
          <button mat-icon-button color="accent" (click)="saveEdit(row)" aria-label="Save">
            <mat-icon>check_circle</mat-icon>
          </button>
          <button mat-icon-button (click)="cancelEdit(row)" aria-label="Cancel">
            <mat-icon>cancel</mat-icon>
          </button>
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator="matPaginator"
    [pageSizeOptions]="[5, 10]"
    showFirstLastButtons
  ></mat-paginator>
</div>