.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

form {
      padding: 3rem;
  width: 30rem;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1.5rem;
}

mat-card-content {
  padding: 2rem 2rem 0; /* Add vertical padding and remove horizontal padding */
}

mat-card-title {
  padding: 1.5rem 2rem 0.5rem; /* Add top and horizontal padding */
}

mat-card-actions {
  justify-content: flex-end;
  padding: 2rem;
}