<div class="login-container">
  <form [formRoot]="loginForm">
    <mat-card>
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
          <input matInput [formField]="loginForm.email" [errorStateMatcher]="loginErrorStateMatcher" type="email" (input)="clearLoginError()">
            @if (emailErrorMessage(); as errorMessage) {
              <mat-error>{{ errorMessage }}</mat-error>
            }
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [formField]="loginForm.password" type="password" (input)="clearLoginError()">
            @if (passwordErrorMessage(); as errorMessage) {
              <mat-error>{{ errorMessage }}</mat-error>
            }
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button matButton="filled" type="submit">Log In</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>