.example-spacer {
  flex: 1 1 auto;
}
.top-nav {
  margin: 0 .5rem;
}

.app-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
   

.mat-mdc-table {
   background-color: rgba(orange, .01);
}

.tb-ct { 
  width: 1200px;
  margin: 1rem auto;
}

// card section
.card-ct {  
  display: grid;
  margin: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1em 1em;
  grid-auto-flow: row;
  grid-template-areas: ". .";
}

.sg-ct {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em 1em;
  grid-auto-flow: row;
}

.card:hover:not(.my-tab)  {
  background: rgba(orange, .2);
}



// Second section
.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
}

.grid-item {
  display: grid;
  border: 1px solid #ccc;
  place-items: center;
} 

.item8 {
  grid-column-start: 3;
  grid-row: 2;
  grid-column: 3 / span 3;
  display: flex;
  justify-content: flex-start; /* Aligns content to the left */
  align-items: center;
}