<div class="products-container mat-typography">
  <h3>Products</h3>

  @if (store.isLoading()) {
    <div class="loading">
      <p>Loading products...</p>
    </div>
  } @else if (store.error()) {
    <div class="error">
      <p>Error loading products: {{ store.error() }}</p>
    </div>
  } @else {
    <div class="card-ct">
      @for (product of store.products(); track product.id) {
        <mat-card class="card" [routerLink]="['/products', product.id]">
          <mat-card-header>
            <mat-card-title>{{ product.name }}</mat-card-title>
            <mat-card-subtitle>{{ product.description }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>${{ product.price }}</p>
          </mat-card-content>
          <mat-card-actions fxLayout="row" fxLayoutGap="10px">
            <button mat-button matButton="filled">Add to cart</button>
            <button mat-button matButton="filled">View Details</button>
          </mat-card-actions>
        </mat-card>
      }
    </div>
  }
</div>